

.Navbar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.Navbar > .nav-logo {
    color: aliceblue;
    font-weight: 300;
    font-size: 20px;
    margin: 15px;
    letter-spacing: 5px;
}

.Navbar > .nav-items > a {
    color: rgba(240, 248, 255, 0.849);
    font-size: 13px;
    text-decoration: none;
    margin: 20px;
    letter-spacing: 3px;
    position: relative;
    opacity: 0.9;
}

.Navbar > .nav-items > a:hover{
    opacity: 1;
}

.Navbar > .nav-items > a:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: rgba(240, 248, 255, 0.849);
    transition: all .45s;

}

.Navbar > .nav-items > a:hover::before{
    width: 100%;
}

